.Profile .accountdetails {
  grid-area: accountdetails;
  display: flex;
  flex-direction: column;
}
.Profile .settings {
  grid-area: settings;
}
.Profile .statements {
  grid-area: statements;
}
.Profile .payment {
  grid-area: payment;
}
.Profile .support {
  grid-area: support;
}
.Profile .billing {
  grid-area: billing;
}

.Profile {
  display: grid;
  grid-template-areas:
    "accountdetails settings"
    "statements payment"
    "support billing";
  gap: 10px;
  height: 100%;
}

.Profile > div {
  font-size: 30px;
}

.Profile .title {
  background-color: #fac70d;
}
.Profile .accountdetails_container {
  display: flex;
  flex-direction: row;
}

.Profile .profile_details {
  display: flex;
  flex-direction: column;
}

.Profile .info {
  display: flex;
  flex-direction: row;
}

.Profile .button_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.Profile .button {
  font-size: 30px;
  text-align: center;
}

.Profile .statement_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Profile .cc_accepted,
.Profile .payment_info {
  display: flex;
  flex-direction: row;
}
